.match-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    padding: 20px;
    width: 100%;
    max-width: 360px;  
  }
  
  .match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .team-logo-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;  
  }
  
  .match img {
    width: 30px;  
    height: 30px;
    margin-right: 5px;  
  }
  
  .match-details {
    text-align: center;
  }
  
  .match p, .match time {
    margin: 2px 0;
    font-size: 14px;
  }
  
  .match time {
    font-style: italic;  
  }