.match-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  flex-direction: column;
  color: #F0EBE6;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #968678;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.team-logo-name {
  display: flex;
  align-items: center;
  margin-bottom: 5px;  
}

.match img {
  width: 30px;  
  height: 30px;
  margin-right: 5px;  
}

.match-details {
  text-align: center;
}

.match p, .match time {
  margin: 2px 0;
  font-size: 14px;
  color: #F0EBE6; /* 统一字体颜色为灰色，与Weather组件一致 */
}

.match time {
  font-style: italic;  
}