.weather-container {

    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

.weather-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.temperature {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.description {
    font-size: 18px;
    color: #666;
}